body {
  font-family: "Arial", sans-serif;
  margin: 40px auto;
  max-width: 1000px;
  padding: 0 20px;
  color: #333;
  background-color: #f7f7f7;
}

.header-container {
  display: flex;
  align-items: center; /* Align profile pic and text vertically */
}

.profile-pic {
  flex: 0 0 auto; /* Fix the width to auto */
  margin-right: 20px; /* Space between profile pic and text */
}

.profile-pic img {
  border-radius: 8px;
  width: 150px;
  height: auto;
}

.right-section {
  display: flex;
  flex-direction: column;
}

.intro-line {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.intro-line span {
  font-size: 1.5em;
  margin-right: 15px;
}

.social-icons {
  display: flex;
}

.social-icons a {
  font-size: 1.8em;
  color: #000; /* Make the icons black */
  margin-right: 15px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #555; /* Slightly lighter on hover */
}

h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #3e87c9; /* Default color */
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px 20px;
  border-radius: 4px;
}

nav ul li a.active {
  background-color: #3e87c9; /* Highlighted color */
  color: white;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

main .about {
  flex: 1;
  padding-left: 20px;
}

footer {
  text-align: center;
  margin-top: 40px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
